<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knowledge - Free knowledge base system</title>

  <meta content="Knowledge - オープンソースのナレッジベース" name="title">
  <meta content="Knowledgeはオープンソースのナレッジベースです。無料で利用できます。社内イントラネットでの情報の共有にご利用ください。" name="description">
  <meta content='ナレッジマネジメント,ナレッジベース,情報共有,オープンソース,KnowledgeBase,KnowledgeManagement,OSS,Markdown' name='keywords'>

  <meta property="og:type" content="article" />
  <meta property="og:title" content="Knowledge - オープンソースのナレッジベース" />
  <meta property="og:description" content="Knowledgeはオープンソースのナレッジベースです。無料で利用できます。社内イントラネットでの情報の共有にご利用ください。" />
  <meta property="og:url" content="https://information.knowledge.support-project.org" />
  <meta property="og:site_name" content="Knowledge" />

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6818655992018426",
      enable_page_level_ads: true
    });
  </script>

  <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />

  <link rel="stylesheet" href="/assets/landing/lib/css/page-vender-1a4a744e9b.css" />
  <link rel="stylesheet" href="/assets/landing/css/page-common-ebd45bb42d.css" />
  <link rel="stylesheet" href="/assets/landing/css/page-index-c50d92399b.css" />

</head>

<body class="flat-blue landing-page">

  <nav class="navbar navbar-inverse navbar-fixed-top  navbar-affix" role="navigation" data-spy="affix" data-offset-top="60">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="icon fa fa-book"></div>
            <div class="title">
              Knowledge
            </div>
          </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a onclick="showAbout();">About</a></li>
          <li><a href="/manual">Manual</a></li>
          <li><a href="https://github.com/support-project/knowledge/releases">Download</a></li>
          <li><a href="/language">Language</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  {{ content }}

  <!-- FOOTER -->
  <footer class="app-footer">
    <div class="container">
      <p class="text-muted">&copy; 2015-2017, support-project.org</p>
    </div>
    <!-- Photo Credit -->
    <!-- All photo from Photo AC(http://www.photo-ac.com/) -->
  </footer>

  <!-- Javascript Libs -->
  <script src="/assets/landing/lib/js/page-common-d00ee7e38a.js"></script>
  <script src="/assets/landing/js/app.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-61641190-1', 'auto');
  ga('send', 'pageview');
 
</script>


</body>

</html>